{% extends "auth/base.html" %}
{% set active = "sign_up" %}
{% set title = "Sign Up" %}

{% block body %}

    <h2 class="title" style="margin-top: 5vh">Choose a Password</h2>

    <div class="card register-container">
        <form action="{{url_for( 'auth.sign_up_password' )}}" method="POST" id="password-form">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <p class="error" style="text-align: justify;">Password Must Contain Atleast 1 Upper Case Letter, 1 Lower Case Letter, 1 Number and 1 Special Symbol.</p>

            <label for="confirm_password">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
            <p class="error" id="confirm-password-error" style="display: none;">Passwords Do Not Match</p>

            <button type="button" class="button" onclick="validate_password_fields()">Next</button>
        </form>
    </div>

    <a href="{{url_for( 'auth.login' )}}" class="existing-user">Already Have an Account ? Login Here !</a>

    <script src="{{url_for( 'static', filename = 'js/auth/sign_up/fields_and_validators.js' )}}"></script>
    <script src="{{url_for( 'static', filename = 'js/auth/sign_up/validation.js' )}}"></script>

{% endblock %}